@import "tailwindcss";

@theme {
    --font-playfair: 'Playfair Display', 'Serif';
    --font-inter: 'Inter';
    --breakpoint-mobile: 400px;
    --color-dark: rgba(41, 41, 41, 1);
    --color-primary: rgba(0, 172, 102, 1);
    --color-primary-hover: rgba(0, 109, 65, 1);
    --color-grey: rgba(166, 166, 166, 1);
    --color-light-grey: rgba(240, 240, 240, 1);
    --color-light-grey2: rgba(245, 243, 239, 1);
    --color-background-light: rgba(250, 249, 247, 1);
    --color-greyblue: rgba(237, 242, 246, 1);
    --color-red: rgba(197, 109, 109, 1);
    --color-greendispo: rgba(109, 197, 161, 1);
    --color-reddanger: rgba(203, 45, 45, 1);
}