@import "tailwindcss";

@theme {
    --font-playfair: 'Playfair Display', 'Serif';
    --font-inter: 'Inter';
    --breakpoint-mobile: 400px;
    --color-dark: rgba(41, 41, 41, 1);
    --color-primary: #00804D;
    --color-primary-hover: rgba(0, 109, 65, 1);
    --color-grey: #6E6E6E;
    --color-light-grey: rgba(240, 240, 240, 1);
    --color-light-grey2: rgba(245, 243, 239, 1);
    --color-background-light: rgba(250, 249, 247, 1);
    --color-greyblue: rgba(237, 242, 246, 1);
    --color-red: #BC5757;
    --color-greendispo: #348362;
    --color-reddanger: rgba(203, 45, 45, 1);
}